In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [3]:
dataset=pd.read_csv('sep1.csv')

In [4]:
dataset.head()

   year  month  day    lat     lon  sm_50
0  2019      8   28  34.82  -87.99    NaN
1  2019      8   28  33.53 -103.63   0.16
2  2019      8   28  33.63  -88.77   0.87
3  2019      8   28  29.10  -81.63   0.73
4  2019      8   28  36.57 -115.20   0.15

In [5]:
dataset.shape

(787, 6)

In [7]:
dataset.columns

Index(['year', 'month', 'day', 'lat', 'lon', 'sm_50'], dtype='object')

In [8]:
dataset.mean()

year     2019.000000
month       8.000000
day        28.000000
lat        23.204963
lon       -35.435598
sm_50       0.485016
dtype: float64

In [9]:
dataset=dataset.fillna(dataset.mean())

In [11]:
X = dataset.iloc[: , 3:5]
y = dataset.iloc[: ,-1].values

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test=train_test_split(X,y,test_size=0.25, random_state = 0)

In [13]:
from sklearn.linear_model import LinearRegression
classifier = LinearRegression().fit(X_train, y_train)

In [14]:
y_predicted = classifier.predict(X_test)
y_predicted

array([0.50199241, 0.49358947, 0.5009137 , 0.43738118, 0.43657976,
       0.50595156, 0.43789984, 0.50250445, 0.50525911, 0.50899602,
       0.50046819, 0.50106537, 0.43897934, 0.43746749, 0.43749802,
       0.43833847, 0.50263023, 0.50748735, 0.43517561, 0.43871938,
       0.5011465 , 0.43701159, 0.4372158 , 0.53184183, 0.50687215,
       0.50124464, 0.50159843, 0.49370128, 0.50691334, 0.49400614,
       0.43934772, 0.44688836, 0.50301744, 0.49459838, 0.50256482,
       0.43826696, 0.44520018, 0.50804204, 0.43869243, 0.43821956,
       0.50296103, 0.4375131 , 0.49700206, 0.43691357, 0.52819793,
       0.50179464, 0.50861248, 0.50244651, 0.43641092, 0.4374999 ,
       0.51117019, 0.43548623, 0.50154013, 0.52222999, 0.50322451,
       0.43843371, 0.5320648 , 0.43684317, 0.5023909 , 0.50063852,
       0.43653424, 0.50168399, 0.43789393, 0.42760856, 0.48260712,
       0.50205226, 0.52656062, 0.44018024, 0.43705847, 0.43731783,
       0.43723969, 0.44557395, 0.43882596, 0.43791212, 0.43756928,
       0.5010523 , 0.49274023, 0.50163579, 0.43743283, 0.50125023,
       0.43783814, 0.44594949, 0.4376797 , 0.44680175, 0.4370376 ,
       0.43804915, 0.50136999, 0.43526516, 0.4385359 , 0.50226239,
       0.43856307, 0.43808319, 0.52713354, 0.51025304, 0.43812566,
       0.44528963, 0.43652559, 0.50211639, 0.50179647, 0.49639644,
       0.4976307 , 0.49615096, 0.49405906, 0.49591316, 0.43797912,
       0.52474175, 0.49762134, 0.50086149, 0.43917024, 0.43778834,
       0.43770589, 0.51479467, 0.50093842, 0.49608014, 0.4385905 ,
       0.43792368, 0.43598753, 0.43490315, 0.43737681, 0.49393707,
       0.49644881, 0.50150616, 0.43873578, 0.43718509, 0.4374322 ,
       0.50108011, 0.43766476, 0.50085579, 0.50496053, 0.50195995,
       0.43650123, 0.49774549, 0.50726421, 0.50115574, 0.50001203,
       0.43657063, 0.50153889, 0.43909157, 0.50713267, 0.50792226,
       0.5014862 , 0.50913085, 0.50240932, 0.49446505, 0.50219148,
       0.50941599, 0.50493327, 0.50149522, 0.5018262 , 0.4371452 ,
       0.49586407, 0.43622479, 0.5061703 , 0.50061024, 0.50144905,
       0.50905409, 0.44566801, 0.50544042, 0.43704324, 0.42845354,
       0.43927092, 0.50385085, 0.43771149, 0.50216615, 0.50910152,
       0.50294428, 0.50580276, 0.52967765, 0.49386785, 0.50316899,
       0.50150219, 0.43943268, 0.43865248, 0.50322491, 0.50140418,
       0.43744275, 0.43783369, 0.43544137, 0.50207619, 0.43783588,
       0.44475186, 0.43527032, 0.50137006, 0.43752277, 0.49617623,
       0.43900357, 0.438058  , 0.50115542, 0.49734169, 0.42863669,
       0.4378694 , 0.50209325, 0.5024097 , 0.50960709, 0.5048859 ,
       0.49396038, 0.43841224])

In [15]:
from sklearn.metrics import mean_squared_error, r2_score
print("Mean squared error: %.2f" % mean_squared_error(y_test, y_predicted))

Mean squared error: 0.08